:root{
    --white: #ffffff;
    --primary: #F6465B;
    --border: #eaeaea;
    --primary-text: #292C33;
    --secondary-text: #51545C;
    --surface: #E9F2FB;
    --support-blue: #E8F4FF;
    --support-green: #e3fbe4;
    --support-purple: #F7E3FB;
}
img, video{
    max-width: 100%;
}
body{
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text);
}
.flex{
    display: flex;
}
.direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content:center;
}
.align-items-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (min-width: 768px) and (max-width: 1440px) {
        max-width: 90%;
    }
    @media screen and (max-width: 767px) {
        max-width: 90%;
    }
}
.heading, h2{
    font-size: 64px;
    line-height: 80px;
    margin: 88px 0 24px 0;
    span{
        color: var(--primary);
    }
    @media screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 40px;
    }
}
.inner-page-body h3{
    font-size: 32px;
    line-height: 40px;
    margin: 48px 0 0 0;
    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
    }
}
.btn{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 4px;
    padding: 12px 16px;
    display: inline-block;
    transition: all 0.3s ease;

    &:after{
        content: "\2197";
        font-size: 20px;
        font-weight: 600;
        height: 16px;
        line-height: 16px;
        margin-left: 2px;
        color: var(--white);
        display: inline-block;
    }

    &:hover{
        background-color: var(--white);
        color: var(--primary);
        border: 1px solid var(--primary);

        &:after{
            color: var(--primary);
        }
    }
}
.sec-btn{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-text);
    position: relative;

    &:after{
        content: "\2197";
        font-size: 20px;
        font-weight: 600;
        margin-left: 2px;
        color: var(--primary);
    }
    &:before{
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        bottom: -3px;
        background: var(--primary);
        transition: 0.5s ease-in-out;
    }
    &:hover:before{
        width: calc(100% - 18px);
    }
}
/* ------------- */
/* ------------ */
/* Sticky menu */

.nav-menu{
    position: fixed;
    z-index: 7;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    @media screen and (max-width: 767px) {
        bottom: 24px;
    }

    .menu-content{
        background: rgba(255, 255, 255, 0.3);
        border: 1px solid var(--border);
        border-radius: 64px;
        padding: 8px;
        backdrop-filter: blur(10px);
        display: inline-flex;
    }
    .links{
        margin-left: 16px;
    }
    .links a{
        color: var(--primary-text);
        text-decoration: none;
        padding: 8px;
        transition: all 0.3s ease;
        &:hover{
            color: var(--primary);
        }
    }
}

/* Sticky menu */
/* ---------- */
/* --------- */


/* ------------- */
/* ------------ */
/* Banner */

.background{
    background: url(../images/header-bg.svg);
    min-height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 767px) {
        min-height: auto;
        padding: 112px 24px;
    }
    
    h1{
        font-size: 24px;
        color: var(--secondary-text);
        font-weight: 400;
        margin: 0;
        text-align: center;
        @media screen and (max-width: 767px) {
            font-size: 18px;
            text-align: left;
        }
    }
    h2{
        font-size: 64px;
        line-height: 88px;
        max-width: 80%;
        margin: 32px auto;
        text-align: center;
        @media screen and (max-width: 767px) {
            font-size: 32px;
            line-height: 40px;
            margin: 16px auto;
            max-width: 100%;
            text-align: left;
        }
        @media screen and (min-width: 768px) and (max-width: 1280px) {
            font-size: 48px;
            line-height: 64px;
        }
        span{
            color: var(--primary);
        }
    }
    .me{
        margin-right: 16px;
        max-width: none;
        min-width: 116px;
        img{
            @media screen and (max-width: 767px) {
                max-width: 64px;
            }
        }
    }
    .location img{
        vertical-align: middle;
        margin-right: 2px;
    }
    .about{
        font-size: 13px;
        line-height: 20px;
        color: var(--secondary-text);
        font-weight: 400;
        max-width: 560px;
        text-align: left;
        margin: 0 auto;
        display: flex;
        @media screen and (max-width: 767px) {
            display: none;
        }
        p{
            margin-top: 4px;
        }
    }
}

/* Banner */
/* ---------- */
/* --------- */


/* ------------- */
/* ------------ */
/* Work Nav */

.solutions{
    
    .content{
        padding-bottom: 112px;
        margin: 0 -16px;
        @media screen and (max-width: 1139px) {
            flex-direction: column;
            margin: 0;
        }
    }
    .content > div{
        margin: 0 16px;
        padding: 40px 40px 12px 40px;
        @media screen and (max-width: 1139px) {
            margin: 0 0 24px 0;
            padding: 24px;
        }
    }
    .ux{
        background: url('../images/ux-image.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        flex-basis: 50%;
        @media screen and (max-width: 1139px) {
            flex-basis: 100%;
        }
    }
    .ux h3{
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: var(--white);
        max-width: 75%;
        margin: 0 0 48px 0;
        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 32px;
            max-width: 100%;
        }
    }
    .motion, .graphic{
        flex-basis: 25%;
        border-radius: 4px;
        @media screen and (max-width: 1139px) {
            flex-basis: 100%;
        }
    }
    .motion{
        background-color: var(--support-blue);
    }
    .graphic{
        background-color: var(--support-purple);
    }
    .motion h3, .graphic h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: var(--secondary-text);
    }
}

/* Work Nav */
/* ---------- */
/* --------- */


/* ------------- */
/* ------------ */
/* Work Start */

.work-bg{
    background-color: var(--surface);
    padding: 1px 0 112px 0;
    .work-layout{
        margin-top: 48px;
        flex-direction: column;
    }
    .work-row{
        margin: 0 -16px 80px -16px;
        border-bottom: 1px solid var(--border);
        padding-bottom: 80px;
        > div{
            margin: 0 16px;
        }
        @media screen and (max-width: 1139px) {
            flex-direction: column;
        }
        .image{
            @media screen and (max-width: 1139px) {
                order: -1;
                margin-bottom: 24px;
            }
        }
        @media screen and (max-width: 767px) {
            margin: 0 -16px 40px -16px;
            padding-bottom: 40px;
        }
        .image a{
            display: block;
            clip-path: content-box;
            border-radius: 8px;
            
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .work-row:last-child{
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .project-name{
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
    }
    .project-description{
        font-size: 16px;
        line-height: 24px;
        color: var(--secondary-text);
        margin-top: 8px 0 16px 0;
    }
    .skills{
        flex-wrap: wrap;
    }
    .skills span{
        font-size: 14px;
        line-height: 16px;
        padding: 8px 16px;
        color: var(--secondary-text);
        border-radius: 24px;
        border: 1px solid var(--border);
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 4px 4px 0;
    }
    .btn{
        margin-right: 16px;
    }
    .actions{
        margin-top: 24px;
    }
    .content{
        flex-basis: 35%;
    }
    .image{
        flex-basis: 65%;
        img{
            border-radius: 8px;
            transition: all 0.5s ease;
        }
    }
}

/* Work End */
/* ---------- */
/* --------- */

/* footer */

.footer{
    border-top: 1px solid var(--border);
    color: var(--secondary-text);
    font-size: 14px;
    background-color: var(--white);
    padding: 80px 0;

    .footer-wrap{
        border: 1px solid var(--border);
        padding: 56px 64px;
        border-radius: 16px;
        
        text-align: left;
        position: relative;
        
        @media screen and (max-width: 767px) {
            padding: 24px 24px 24px;
            
        }

        .footer-bg{
            background: url(../images/startup.png) no-repeat;
            background-size: 100% auto;
            position: absolute;
            bottom: -1px;
            right: -1px;
            width: 360px;
            height: 360px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        h2{
            color: var(--primary);
            font-size: 48px;
            line-height: 56px;
            text-align: left;
            margin-top: 0;
            @media screen and (max-width: 767px) {
                font-size: 32px;
                line-height: 40px;
            }
        }
        a{
            text-decoration: none;
            color: var(--secondary-text);
        }
        .sec-btn.mail{
            display: inline-flex;
        }
    }
    .social-links {
        margin-top: 16px;

        a{
            border: 1px solid var(--border);
            padding: 8px;
            margin-right: 8px;
            border-radius: 8px;
            transition: all 0.5s ease;

            &:hover{
                border: 1px solid var(--primary);
                box-shadow: 0 0px 12px #efbac0;
            }
        }
        img{
            width: 24px;
        }
    }
}
.inner-page-body .footer{
    margin-top: 112px;
}
/* footer */


/* ------------- */
/* ------------ */
/* Inner page common CSS */

.page-banner{
    min-height: auto;
    @media screen and (max-width: 767px) {
        padding: 0 24px;
    }
    h2{
        margin: 48px auto;
        @media screen and (max-width: 767px) {
            margin: 32px auto;
        }
    }
}
.inner-page-body{
    background-color: var(--surface);
}
.card-look{
    max-width: 1000px;
    margin: 0 auto; 
    background-color: var(--white);
    border-radius: 16px;
    border: 1px solid var(--border); 
    padding: 40px;
    @media screen and (max-width: 767px) {
        margin: 0 0 0;
        padding: 16px;
    }

    ul{
        margin-top: 8px;
    }
    li:before{
        content: '';
        background: url(../images/tick.svg);
        background-size: 12px 12px;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 8px;
        vertical-align: baseline;
    }
}   
ul.result-block{
    margin: 24px -16px 0 -16px;
    @media screen and (max-width: 767px) {
        margin: 24px 0 0;
        flex-direction: column;
    }
    li:before{
        content: none;
    }
    .result-card{
        padding: 24px;
        border-radius: 16px;
        margin: 0 16px;
        @media screen and (max-width: 767px) {
            margin: 0 0 16px 0;
        }

        img{
            width: 48px;
        }
    }
    .big {
        font-size: 48px;
        font-weight: 600;
        @media screen and (max-width: 767px) {
            font-size: 32px;
        }
    }
    .purple{
        background-color: var(--support-purple);
    }
    .green{
        background-color: var(--support-green);
    }
}
.team-overview{
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    h4{
        margin-bottom: 8px;
    }
    p{
        margin-top: 0;
    }
    > div{
        padding-right: 24px;
        border-right: 1px solid var(--border);
        flex-basis: 33.33%;
        padding-left: 24px;
        @media screen and (max-width: 767px) {
            flex-basis: 100%;
            border: none;
            padding: 0;
        }
    }
    > div:last-child{
        border: none;
    }
    > div:first-child{
        padding-left: 0;
    }
}

.motion-list{
    h3:first-child{
        margin-top: 0;
    }
    h3{
        margin-top: 96px;
    }
    p{
        margin-top: 8px;
    }
}
.about-list li:before{
    content: none;
}

.articles{
    ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li{
        flex-basis: calc(50% - 16px);
        margin-bottom: 32px;
        @media screen and (max-width: 767px) {
            flex-basis: 100%;
        }
    }
    a{
        text-decoration: none;
        border: 1px solid var(--border);
        border-radius: 8px;
        padding: 16px;
        transition: all 0.5s ease;

        &:hover{
            border: 1px solid var(--primary);
            box-shadow: 0 0px 12px #efbac0;
        }
    }
    img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 4px;
    }
    p{
        color: var(--secondary-text);
        margin-top: 4px;
        font-size: 13px;
    }
    .article-title{
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-text);
        margin-top: 16px;
    }
}
/* Inner page common CSS */
/* ---------- */
/* --------- */

#besucherzaehler2{
    display: none;
}